@import "variables";

.specs-line {
    font-size: .8571428571rem;
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    & span{
        color: #8b8c93;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-right: 10px;
        display: inline-block;
        font-family: PT Sans Narrow,sans-serif;
        font-weight: 700;
    }
}

.cardAd {
    background: $white;
    margin: 1rem;
    position: relative;
    padding: 1rem;
    border : 1px solid $grey;
    border-radius : 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover{
        cursor: pointer;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    .cardAd_Content{
        width: 100%;

        img.img-profile-wrapper{
            max-width: 100px;
            object-fit: contain;
            margin: 1rem;
        }
    }

    .cardAd_Header{
        padding: 1rem;
    }

    .cardAd_Title{
        flex: 1;
    }

    .cardAd_Featured {
        position: relative;

        .moreThumbs{
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 10;
            background-color: #010312;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: PT Sans Narrow,sans-serif;
            letter-spacing: 1.5px;
            font-size: 16px;
        }

        img{
            width: 100%;
            height: 500px;
            object-fit: cover;
        }
    }
}

