@import "variables";

.cardAd {
    background: $white;
    position: relative;
    height: 100%;
    padding: .5rem 1rem;
    border : 1px solid $grey;
    border-radius : 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover{
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }


    img.img-profile-wrapper{
        max-width: 100px;
        object-fit: contain;
    }

    .cardAd_Featured {
        position: relative;
        margin : .5rem auto;
        text-align: center;

        .moreThumbs{
            position: absolute;
            bottom: 10px;
            right: 10px;
            background-color: #010312;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: PT Sans Narrow,sans-serif;
            letter-spacing: 1.5px;
            font-size: 16px;
        }

        img{
            width: 100%;
            object-fit: cover;
        }
    }
}

