.auth_form{
  max-width: 40rem;
  margin: 3rem auto;

  .form-field{
    margin: 1rem 0;
    text-align: end;
  }

  .label{
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }

  .input{
    width: 70%;

    button, input, textarea{
      width: 100%;
    }
  }
}

.register-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  background-color: #445aae;
  padding: 1rem;
  border-radius: 35px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;

  img{
    margin-right: 15px;
  }

  &:hover{
    color: #fff;
    text-decoration: none;
    background-color: #304492;
    transition: 0.5s;
  }
}

.register-g{
  @extend .register-fb;
  background-color: #e53215;
  &:hover{
    background-color: #d63116;
  }
}

.divider_stick {
  position: relative;
  color: #aaa;
  padding: .5rem 0;
  width: 100%;

  hr {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    margin-top: 0!important;
    margin-bottom: 0!important;
    z-index: -1;
  }

  span {
    padding: 1rem;
    margin: 0 auto;
    background-color: $bg_grey;
  }
}




