.auth_form{
  max-width: 500px;
}

.register-fb {
  margin: .5rem auto;
  background-color: #445aae;
  height: 53px;
  width: 320px;
  border-radius: 35px;
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 700 16px Quicksand;
  transition: 0.5s;

  img{
    margin-right: 15px;
  }

  &:hover{
    color: #fff;
    text-decoration: none;
    background-color: #304492;
    transition: 0.5s;
  }
}

.register-g{
  @extend .register-fb;
  background-color: #e53215;
  &:hover{
    background-color: #d63116;
  }
}

.login-or {
  position: relative;
  color: #aaa;
  margin: 0;
  padding: 1rem 0;
  width: 100%;
}

.hr-or {
  height: 1px;
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: $bg_grey;
  width: 50px;
  text-align: center;
}
