.register-fb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  background-color: #445aae;
  padding: 1rem;
  border-radius: 35px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;

  img{
    margin-right: 15px;
  }

  &:hover{
    color: #fff;
    text-decoration: none;
    background-color: #304492;
    transition: 0.5s;
  }
}

.register-g{
  @extend .register-fb;
  background-color: #e53215;
  &:hover{
    background-color: #d63116;
  }
}

@media (max-width: 768px) {
  .register-fb, .register-g{
    padding: .5rem;
  }
}
