*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 300px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  font-family: $default-font, 'valeraRound' ,sans-serif;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

@media print, screen and (min-width: 50em){
  body {
    padding-top: 5rem;
  }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
  position: relative;
}

svg {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  height: 5rem;
  border-bottom: 1px solid #eaecec;
  background-color: #fff;
  box-shadow: 0 2px 13px rgba(61,63,65,0.08);
  border-bottom: 1px solid gainsboro;
  padding: 0;

  .logo{
    display: inline-block;
    max-width: 14.375rem;
    vertical-align: middle;
  }

  @media screen and (max-width: 49.9375em){
    .header .logo {
      width: 10rem;
    }
  }
}

@media (min-width: 50em){
  header {
    position: fixed;
    height: 5rem;
    z-index: 800;
    top: 0;
    right: 0;
    left: 0;
  }
}

@media print, screen and (min-width: 64em){
  header {
    padding: 0 0 0 .625rem;
  }
}

main {
  display: block;
  margin: 0 auto;
  position: relative;

  &:not(.--alt-margin){
    padding-bottom: 3.125rem;
  }
}

h1 {
  text-align:center;
  font-size: 1rem;
  color: #444 ;
  margin: 0;
  font-weight: 700;
  float: left;
}

h3{
  color: #3d4248;
  font: 700 23px Quicksand;
  margin: 1rem 0;
}

h4{
  color: #000;
  font: 500 17px Quicksand;
  margin: 1rem 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  margin: 1rem 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.main_layout {
  padding: 1rem;
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}

.strong {
  font-weight: 600;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.modal-content{
  overflow: hidden;
}

.fixed-top{
  position: fixed;
  right: 0;
}

/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}

.btn-outline-primary{
  color: #569ffc;
  border-color: #569ffc;
  padding: 1rem;
  border-radius: 50px;
  font: 700 16px Quicksand;
  text-decoration: none;

  &:hover {
    background-color: #569ffc;
    border-color: #569ffc;
    color:white;
  }
}

.lead {
  font-size: 3em;
  opacity: 0.7;
}

.display-2  {
  text-shadow: 0 5px 10px rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.9);
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 3em;
    margin-bottom: 1em;

  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.5em;
  }
}

.announce{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
