@import 'variables';

* {
    font-family: $default-font-family;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 300px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $default-font-color;
    font-family: $default-font-family;
    //font-family : "Quicksand";
    //font-family : "valeraRound";
    //font-family: "Helvetica Neue";
    position: relative;
    overflow-x: hidden;
}

@media print, screen and (min-width: 50em) {
    body {
        padding-top: 5rem;
    }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
    position: relative;
}

h1 {
    text-align: center;
    font-weight: 700;
}

h3 {
    color: #3d4248;
}

h4 {
    color: #000;
    margin: 1rem 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border: 0;
    margin: 1rem 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

p{
    margin: 5px;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #eaecec;
    background-color: #fff;
    box-shadow: 0 2px 13px rgba(61, 63, 65, 0.08);
    border-bottom: 1px solid gainsboro;
    padding: 0;
    z-index: 1600;

    .logo {
        display: inline-block;
        max-width: 14.375rem;
        vertical-align: middle;
    }

    @media screen and (max-width: 49.9375em) {
        .header .logo {
            width: 10rem;
        }
    }
}

@media (min-width: 50em) {
    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
    }
}

@media print, screen and (min-width: 64em) {
    header {
        padding: 0 0 0 .625rem;
    }
}

main {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}


@media (max-width: 768px) {
    main{
        padding: 5px;
    }
}

.main_layout {
    padding: 3rem;
}

.big-mt {
    margin-top: 2rem;
}

.icon-spin {
    display: inline-block;
    animation: spin 1s infinite linear;
}

.strong {
    font-weight: 600;
}

.decoration-none {
    &:hover {
        text-decoration: none;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

.modal-content {
    overflow: hidden;
}

.fixed-top {
    position: fixed;
    right: 0;
}

.divider_stick {
    position: relative;
    margin: 2rem;
    text-align: center;

    hr {
        width: 100%;
        height: 1px;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        z-index: -1;
    }

    span {
        padding: 1rem;
        margin: 0 auto;
        background-color: $grey;
    }
}

@media (max-width: 768px) {
    .divider_stick{
        margin: 1rem;
    }
}

/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
    display: block;
    color: #000;
    text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
    background: #fff;
    color: #000;
}

.btn-outline-primary {
    color: #569ffc;
    border-color: #569ffc;
    padding: .5rem;
    border-radius: 50px;
    font: 700 16px Quicksand;
    text-decoration: none;

    &:hover {
        background-color: #569ffc;
        border-color: #569ffc;
        color: white;
    }
}

.lead {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}

.display-2 {
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 0.9);
}

@media (max-width: 768px) {
    .display-2 {
        font-size: 3em;
        margin-bottom: 1em;

    }
    .display-3 {
        font-size: 2.5em;
    }
    .display-4 {
        font-size: 2em;
    }
    .lead {
        font-size: 1.5em;
    }
}

.dropdown-item.active, .dropdown-item:active {
    background: unset;
}

.img-hover {
    transition: background 0.3s, transform 0.3s ease-out, fill 0.3s;

    &:hover {
        transform: scale(1.2);
        transition: background 0.3s, transform 0.3s ease-out, fill 0.3s;
    }
}

.img-full {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    object-fit: contain;
}

.img-src {
    position: relative;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    transition: all 1.5s cubic-bezier(.23, 1, .32, 1);
}

.svgHoverScale {
    svg {
        transition: background 0.3s, transform 0.3s ease-out, fill 0.3s;

        &:hover {
            transform: scale(1.2);
            transition: background 0.3s, transform 0.3s ease-out, fill 0.3s;
        }
    }
}

img.img_scale{
    transition: all .5s;
    &:hover {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}


.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg{
    height: 60px;
    width: 60px;
}

svg{
    fill: currentColor;
    display: inline-block;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    user-select: none;
}

.svgStarYellow:hover{
    fill:#FFDC00
}
