*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-width: 350px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  text-align: center;
  background-color: $bg_grey;
  font-family: $default-font, 'valeraRound' ,sans-serif;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
  position: relative;
}

svg {
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0 10px 20px 1px;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

h3{
  color: #3d4248;
  font: 700 23px Quicksand;
  margin-top: 60px;
  margin-bottom: 0;
}

h4{
  color: #000;
  font: 500 17px Quicksand;
  margin: 1rem 0;
  text-align: left;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  border: 0;
  margin: 1rem 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

a {
  text-decoration: none!important;
  color: #00ad9f;
}

.main_layout {
  padding: 1rem;
}

.icon-spin {
  display: inline-block;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.modal-content{
  overflow: hidden;
}

/**
 * Fix for Reactstrap
 **/
.react-bs-table-sizePerPage-dropdown .dropdown-item a {
  display: block;
  color: #000;
  text-decoration: none;
}

.react-bs-table-sizePerPage-dropdown button {
  background: #fff;
  color: #000;
}

.btn-outline-primary{
  color: #569ffc;
  border-color: #569ffc;
  padding: 1rem;
  border-radius: 50px;
  font: 700 16px Quicksand;

  &:hover {
    background-color: #569ffc;
    border-color: #569ffc;
    color:white;
  }
}

.lead {
  font-size: 3em;
  opacity: 0.7;
}

.display-2  {
  text-shadow: 0 5px 10px rgba(0,0,0,0.3);
  color: rgba(255,255,255,0.9);
}

@media (max-width: 768px) {
  .display-2 {
    font-size: 3em;
    margin-bottom: 1em;

  }
  .display-3 {
    font-size: 2.5em;
  }
  .display-4 {
    font-size: 2em;
  }
  .lead {
    font-size: 1.5em;
  }
}


.announce{
  margin: 1rem;
  padding: 1rem;
  border: 1px solid black;
}
