header{
  background-color: #fff;
  border-bottom: 1px solid $grey2;

  nav {
    margin: auto;
    padding: 1rem 2rem;

    .navbar-nav{
      align-items: center;
    }

    .nav-right{
      position: absolute;
      top : 10px;
      right: 0;
    }

    .nav-item{
      display: block;
      padding: 0.5rem 1rem;

      .nav-link{
        padding: 0;
        &:hover{
          color: #24B47E;
          font-weight: bold;
        }
      }
    }

    .dropdown {
      display: block;
    }

    .dropdown-menu{
      position: absolute;
      right: 0;
      left: unset;
      margin: 0;
      border-radius: 5px;
      box-shadow: 0 0 23px 0 rgba(0,0,0,0.11);
      border: none;
      outline: none;
      transition: all .3s ease-in-out;
    }

    .btn-outline-primary{
      padding: 1rem!important;
      &:hover {
        color:white!important;
      }
    }
  }

  h1 {
    font-size: 1rem;
    color: #444 ;
    margin: 0;
    font-weight: 700;
    float: left;
  }

  .form-control[type=search]{
    border: none;
    border-radius: 25px;
    background: #eae9e9 url($imagesDir + "search.png") no-repeat right 15px center;
    box-shadow : none;
    margin: 0 auto;
  }
}

.navbar-icon-notifications {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #569ffc;
    left: 50%;
    transform: translateX(-50%);
    bottom: -14px;
  }
}

@media (max-width: 767px) {
  nav{
    .navbar-nav{
      margin-top: 10px;
    }

    .navbar-brand {
      margin-right: 10px;
      img {
        max-width: 120px;
        width: 100%;
        height: auto;
      }
    }

    .navbar-icons-wrapper-notifications {
      margin: 0 12px;
      position: relative;
    }

    li.cta_nav_link {
      height: 40px;

      a{
        padding: 5px 10px!important;
        display: initial;
      }
    }
  }
}


