.top-profile-name{
    color: #3d4248;
    font: 700 23px Quicksand;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.top-profile-name img{
    margin-left: 7px;
}

.top-profile-location{
    color: #569ffc;
    font: 700 15px Quicksand;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.top-profile-location img{
    margin-right: 5px;
}

.top-profile-desc{
    color: #908f8f;
    font: 400 13px Quicksand;
}

.tab-content-profile{
    max-width: 1084px;
    width: 100%;
    margin: 0 auto;
}

.top-profile-name-btn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}
