$imagesDir: "../images/";
$ionicons-font-path: "/fonts/ionicons" !default;
$ionicons-font-family: "Ionicons" !default;
$ionicons-version: "3.0.0-alpha.3" !default;
$default-font: 'Quicksand';
$bg_grey : #f3f5f7;
